html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  @extend %quicksand-500;
  font-size: 16px;
  line-height: 26px;
  color: $default;
}

a {
  @extend %quicksand-500;
  font-size: 16px;
  line-height: 26px;
  color: $default;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  flex-grow: 1;
}

.title {
  margin-bottom: 10px;
  @extend %roboto-700;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  color: $title;
  text-transform: uppercase;
}

.text {
  margin: 0 auto 60px;
  max-width: 570px;
  text-align: center;
}

.product-card {
  max-width: 370px;
  text-align: center;

  &--sale {
    .product-card__price-old {
      display: block;
    }

    .product-card__image-box::before {
      content: "SALE";
      @extend %btn;
      position: absolute;
      top: 25px;
      left: 25px;
      padding: 9px 10px;
      line-height: 1;
      letter-spacing: 0.8px;
    }
  }

  &__image-box {
    position: relative;
    margin-bottom: 30px;
    height: 370px;
    overflow: hidden;
  }

  &__image {
    object-fit: cover;
  }

  &__link-box {
    margin: 0 auto;
    position: absolute;
    right: 0;
    bottom: 50px;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateY(300%);
    border-radius: 25px;
    width: 212px;
    height: 50px;
    background-color: $white;
    box-shadow: 0 5px 30px rgba(152, 152, 152, 0.2);
  }

  &__link {
    display: inherit;
    position: relative;

    path {
      transition: $transition-fast;
    }

    &--lines {
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: -4px;
        width: 1px;
        height: 30px;
        background-color: $line;
      }
      &::before {
        left: -27px;
      }
      &::after {
        right: -27px;
      }
    }

    &--mag-glass {
      margin-top: 3px;
    }

    &:hover {
      path {
        fill: $accent;
      }
    }
  }

  &__title {
    margin: 19px 0 20px;
    @extend %roboto-400;
    font-size: 22px;
    color: $title;
  }

  &__price {
    display: flex;
    justify-content: center;
    @extend %roboto-400;
  }

  &__price-new {
    padding: 0 12px;
    color: $title;
  }

  &__price-old {
    display: none;
    padding: 0 12px;
    color: $default;
    text-decoration: line-through;
  }

  &:hover {
    .product-card__link-box {
      transform: translateY(0);
    }
  }
}

.star-rating {
  margin: 0 auto;
}

.breadcrumbs {
  display: inline-flex;
  justify-content: center;
  padding-left: 24px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 16px;
    height: 16px;
    background-image: url("../images/icons/home.svg");
    background-repeat: no-repeat;
  }

  &__list {
    display: flex;
  }

  &__item {
    position: relative;
    padding-right: 40px;
    color: #727272;

    &::after {
      content: "";
      top: 9px;
      right: 15px;
      position: absolute;
      width: 9px;
      height: 10px;
      background-image: url("../images/icons/angles-right.svg");
    }

    &:last-child {
      color: $accent;
      padding-right: 0;

      &::after {
        display: none;
      }
    }
  }

  &__link {
    color: inherit;
  }
}
