html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  @extend %quicksand-500;
  font-size: 16px;
  line-height: 26px;
  color: $default;
}

a {
  @extend %quicksand-500;
  font-size: 16px;
  line-height: 26px;
  color: $default;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  flex-grow: 1;
}

.title {
  margin-bottom: 10px;
  @extend %roboto-700;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  color: $title;
  text-transform: uppercase;
}

.text {
  margin: 0 auto 60px;
  max-width: 570px;
  text-align: center;
}

.product-card {
  max-width: 370px;
  text-align: center;

  &.product-card--list {
    display: flex;
    min-width: 100%;
    text-align: left;

    &:hover {
      .product-card__link-box {
        transform: translateY(-280%);
      }
    }

    &.product-card--sale {
      .product-card__title::after {
        content: "SALE";
        position: absolute;
        top: 0;
        right: 0;
        padding: 4px 8px;
        font-size: 15px;
        line-height: 1;
        letter-spacing: 0.5px;
        color: $white;
        background-color: $accent;
      }
    }

    .product-card__image-box {
      min-width: 250px;
      height: 250px;
      margin-bottom: 0;

      img {
        height: 250px;
      }
    }

    .product-card__link-box {
      bottom: auto;
      width: 115px;
      background-color: transparent;
      box-shadow: none;

      .product-card__link--lines {
        display: none;
      }
    }

    .product-card__link {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background-color: $white;
    }

    .product-card__wrapper {
      border: 1px solid $line;
      border-left: none;
      padding: 30px 40px;
    }

    .product-card__content-box {
      display: block;
    }

    .product-card__box {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px;
    }

    .product-card__image-box::before {
      display: none;
    }

    .product-card__title {
      order: -1;
      margin: 0;
      padding-right: 70px;
      padding-bottom: 10px;
      width: 100%;
    }

    .product-card__text {
      margin-bottom: 14px;
    }

    .product-card__price {
      order: -1;
      margin-left: -12px;
    }

    .product-card__button {
      border: none;
      padding: 12px 34px;
      color: $white;
      background-color: $title;
      transition: $transition-fast;
      cursor: pointer;

      &:hover {
        background-color: $accent;
        box-shadow: 0 7px 20px rgba(255, 17, 48, 0.3);
      }
    }

    .star-rating {
      margin-left: 23px;
    }
  }

  &--sale {
    .product-card__price-old {
      display: block;
    }

    .product-card__image-box::before {
      content: "SALE";
      @extend %btn;
      position: absolute;
      top: 25px;
      left: 25px;
      padding: 9px 10px;
      line-height: 1;
      letter-spacing: 0.8px;
    }
  }

  &__image-box {
    position: relative;
    margin-bottom: 30px;
    height: 370px;
    overflow: hidden;
  }

  &__image {
    object-fit: cover;
  }

  &__link-box {
    margin: 0 auto;
    position: absolute;
    right: 0;
    bottom: 50px;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateY(300%);
    border-radius: 25px;
    width: 212px;
    height: 50px;
    background-color: $white;
    box-shadow: 0 5px 30px rgba(152, 152, 152, 0.2);
  }

  &__link {
    display: inherit;
    position: relative;

    path {
      transition: $transition-fast;
    }

    &--lines {
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: -4px;
        width: 1px;
        height: 30px;
        background-color: $line;
      }
      &::before {
        left: -27px;
      }
      &::after {
        right: -27px;
      }
    }

    &--mag-glass {
      margin-top: 3px;
    }

    &:hover {
      path {
        fill: $accent;
      }
    }
  }

  &__title {
    margin: 19px 0 20px;
    @extend %roboto-400;
    font-size: 22px;
    text-transform: capitalize;
    color: $title;
  }

  &__price {
    display: flex;
    justify-content: center;
    @extend %roboto-400;
  }

  &__price-new {
    padding: 0 12px;
    color: $title;
  }

  &__price-old {
    display: none;
    padding: 0 12px;
    color: $default;
    text-decoration: line-through;
  }

  &__content-box {
    display: none;
  }

  &:hover {
    .product-card__link-box {
      transform: translateY(0);
    }
  }
}

.star-rating {
  margin: 0 auto;
}

// === BREADCRUMBS ===
.breadcrumbs {
  display: inline-flex;
  justify-content: center;
  padding-left: 24px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 16px;
    height: 16px;
    background-image: url("../images/icons/home.svg");
    background-repeat: no-repeat;
  }

  &__list {
    display: flex;
  }

  &__item {
    position: relative;
    padding-right: 40px;
    color: #727272;

    &::after {
      content: "";
      top: 9px;
      right: 15px;
      position: absolute;
      width: 9px;
      height: 10px;
      background-image: url("../images/icons/angles-right.svg");
    }

    &:last-child {
      color: $accent;
      padding-right: 0;

      &::after {
        display: none;
      }
    }
  }

  &__link {
    color: inherit;
  }
}
// === / BREADCRUMBS ===

// === PAGINATION ===
.pagination {
  display: flex;
  justify-content: center;
  padding-top: 40px;

  &__arrows {
    position: relative;
    text-transform: uppercase;

    &::before {
      content: "";
      position: absolute;
      top: 8px;
      width: 5px;
      height: 11px;
    }
  }

  .pagination__list {
    display: flex;
    padding: 0 35px;
  }

  &__item {
    padding: 0 15px;
  }

  &__link {
    &--active{
      @extend %quicksand-700;
      color: $accent;
    }
  }

  &__prev {
    padding-left: 15px;

    &::before {
      background-image: url("../images/icons/angle-left.svg");
      left: 0;
    }
  }

  &__next {
    padding-right: 15px;

    &::before {
      background-image: url("../images/icons/angle-right.svg");
      right: 0;
    }
  }
}
// === / PAGINATION ===
