@import "variables";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
// === PARTIALS ===
// === REUSABLE BLOCKS ===

// === / REUSABLE BLOCKS ===
// === HEADER ===
.header {
  padding: 40px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__item + &__item {
    padding-left: 35px;
  }

  &__link {
    padding: 0 3px 5px;
    text-transform: uppercase;
    @extend %roboto-400;
    color: $title;
    border-bottom: 1px solid transparent;
    transition: $transition-fast;
    &:hover {
      // @extend %roboto-700;
      color: $accent;
      border-bottom: 1px solid $accent;
    }
  }
  &__link--active {
    @extend %roboto-700;
    color: $accent;
    border-bottom: 1px solid $accent;
  }
}
.user-nav {
  display: flex;

  &__link {
    position: relative;
    text-align: center;
  }
  &__link + &__link {
    padding-left: 25px;
  }

  &__number {
    position: absolute;
    top: -8px;
    right: -12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $accent;
    font-size: 12px;
    line-height: 22px;
    color: $white;
  }
}
// === / HEADER ===

// === TOP-SLIDER ===
.top-slider {
  padding: 65px 0 45px;
  background-color: $background;
  background-image: url("../images/decor/top-slider-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;

  &__container {
    max-width: 1560px;
  }

  &__item {
    display: flex !important;
    justify-content: space-between;
  }

  &__content {
    padding: 125px 0 0 175px;
  }

  &__title {
    margin-bottom: 35px;
    max-width: 670px;
    @extend %roboto-700;
    font-size: 58px;
    line-height: 68px;
    color: $title;
  }

  &__text {
    margin-bottom: 55px;
    max-width: 470px;
  }

  &__link {
    @extend %btn;
    padding: 15px 35px;
  }

  .slick-dots {
    margin-top: -70px;
    display: flex;
    justify-content: center;

    li {
      padding: 0 5px;
      line-height: 0;

      button {
        position: relative;
        border: 1px solid transparent;
        border-radius: 50%;
        padding: 0;
        width: 28px;
        height: 28px;
        font-size: 0;
        background-color: transparent;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          border-radius: 50%;
          transform: translate(-50%, -50%);
          width: 6px;
          height: 6px;
          background-color: $default;
        }
      }

      &.slick-active {
        button {
          border-color: $accent;

          &::before {
            background-color: $accent;
          }
        }
      }
    }
  }
}
// === / TOP-SLIDER ===

// === INFO-CATEGORIES ===
.info-categories {
  padding: 120px 0;
  background-image: url("../images/decor/categories-left-decor.png");
  background-repeat: no-repeat;
  background-size: contain;

  &__inner {
    background-image: url("../images/decor/categories-right-decor.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;

  &__item {
    padding: 60px 40px;
    width: 370px;
    box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
  }

  &__item-title {
    margin: 35px 0 10px;
    @extend %roboto-400;
    font-size: 22px;
    color: $title;
  }

  &__item-text {
  }
}
.categories {
  &__title {
  }

  &__text {
  }

  &__items {
  }

  &__item {
  }

  &__item-subtitle {
  }

  &__item-title {
  }

  &__item-link {
  }
}
// === / INFO-CATEGORIES ===
// === section ===
// === / section ===
// === FOOTER ===
.footer {
  background-color: $background;
}

.footer-top {
  padding: 70px 0 40px;
  border-bottom: 1px solid #ececec;
  display: flex;

  &__contact {
    margin-right: 50px;
    width: 250px;
  }

  &__logo {
    display: block;
    margin-bottom: 33px;
  }

  &__nav {
    margin-right: 30px;
    width: 170px;
  }

  &__item-form {
    max-width: 470px;
  }

  &__address,
  &__email,
  &__phone {
    margin-bottom: 14px;
    display: block;
  }

  &__social-list {
    margin-top: 30px;
    display: flex;
    align-items: center;
  }

  &__social-item + &__social-item {
    margin-left: 18px;
  }

  &__social-link {
    transition: $transition-fast;

    path {
      fill: $default;
    }

    &:hover {
      path {
        fill: $accent;
      }
    }
  }

  &__title {
    margin-bottom: 40px;
    @extend %roboto-500;
    font-size: 22px;
    line-height: 1;
    color: $title;
  }

  &__item-link {
    display: block;
    margin-bottom: 14px;
  }

  &__text {
    margin-bottom: 25px;
  }

  &__form-input {
    border: none;
    padding: 12px 10px 12px 15px;
    max-width: 320px;
    width: 100%;
    background-color: $white;
    box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);

    &::placeholder {
      @extend %roboto-500;
      font-size: 16px;
      color: $default;
    }
  }

  &__form-button {
    @extend %btn;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  font-size: 12px;

  &__payments {
    display: flex;
    align-items: center;
  }

  &__payments-icon {
    margin-left: 25px;
    display: inline-block;
  }
}
// === / FOOTER ===

// === ADAPTIVE ===
@import "media";
