@import 'variables';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
// === PARTIALS ===

// === 404 ===
.page-404 {
  padding: 120px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    max-width: 570px;
    width: 100%;
  }

  &__title {
    margin-bottom: 30px;
    @extend %roboto-700;
    font-size: 48px;
    line-height: 1;
    letter-spacing: 0;
    color: #28384f;
  }

  &__text {
    margin-bottom: 60px;
    max-width: 455px;
  }

  &__link {
    padding: 19px 34px;
    display: inline-block;
    @extend %roboto-400;
    line-height: 1;
    text-transform: uppercase;
    color: $white;
    background-color: $accent;
    box-shadow: 0 5px 25px rgba(254, 62, 87, 0.35);
  }

  &__image {
    max-width: 600px;
  }
}
// === / 404 ===

// === SHOP ===
.shop {
  padding: 120px 0;

  &__inner {
    display: flex;
  }

  &__filters {
    width: 370px;
    margin-right: 30px;
  }
}

.filter {
  &__item {
    margin-bottom: 40px;
    border: 1px solid $line;
    padding: 30px 40px;
  }

  &__title {
    margin-bottom: 40px;
    @extend %roboto-400;
    font-size: 22px;
    line-height: 1;
    text-transform: uppercase;
    color: $title;
  }
}

.filter-search {
  &__title {
    margin-bottom: 30px;
  }

  &__form {
    display: flex;
  }

  &__input {
    padding: 0 15px;
    border: none;
    width: 260px;
    height: 50px;
    background-color: $background;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 50px;
    height: 50px;
    background-color: $accent;
    cursor: pointer;
  }
}

.filter-price {
  &__label {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
  }

  &__button {
    @extend %btn;
    padding: 14px 23px;
    line-height: 1;
    letter-spacing: 3.2px;
  }
}

// === RANGE SLIDER ===
.irs--flat .irs-line {
  top: 13px;
  height: 5px;
  background-color: $line;
  border-radius: 0;
}

.irs--flat .irs-handle {
  top: 0;
  width: 30px;
  height: 30px;
  background-color: $white;
  box-shadow: 0 0 13px rgba(90, 90, 90, 0.2);
  cursor: pointer;
}

.irs--flat .irs-handle > i:first-child {
  display: none;
}
.irs-from,
.irs-to,
.irs-single {
  display: none;
}

.irs--flat .irs-bar {
  top: 13px;
  height: 5px;
  background-color: $accent;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}

.irs--flat {
  height: 30px;
}
// === / RANGE SLIDER ===

.filter-color {
  &__label {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    & + & {
      padding-top: 20px;
    }

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  &__input {
    @extend %hide-checkbox;

    &:checked + .filter-color__checkbox {
      background-image: url('../images/icons/check-on.svg');
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  &__checkbox {
    position: absolute;
    margin-top: 5px;
    margin-left: -16px;
    width: 16px;
    height: 16px;

    &--blue {
      background-color: #00aeef;
    }
    &--red {
      background-color: #f52574;
    }
    &--green {
      background-color: #24d4ac;
    }
    &--orange {
      background-color: #ff7e00;
    }
    &--black {
      background-color: $black;
    }
    &--purple {
      background-color: #923899;
    }
  }
}

.filter-size {
  &__label {
    display: block;
    margin-bottom: 19px;
    padding-left: 35px;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__input {
    @extend %hide-checkbox;
    &:checked + .filter-size__checkbox {
      border: 1px solid $accent;
      background-image: url('../images/icons/checkmark.svg');
      background-repeat: no-repeat;
      background-position: center center;

      & + .filter-size__name {
        color: $accent;
      }
    }
  }

  &__checkbox {
    position: absolute;
    margin-top: 3px;
    margin-left: -35px;
    border: 1px solid $default;
    border-radius: 50%;
    width: 20px;
    height: 21px;
  }
}

.filter-category {
  &__label {
    display: block;
    margin-bottom: 15px;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__input {
    @extend %hide-checkbox;

    &:checked + .filter-category__checkbox {
      color: $white;
      background-color: $accent;
    }
  }

  &__checkbox {
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
    color: $title;
    background-color: $background;
  }
}

.filter-tags {
  &__label {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 10px 0;
    cursor: pointer;
  }

  &__input {
    @extend %hide-checkbox;
    &:checked + .filter-tags__checkbox {
      border: 1px solid $accent;
      color: $white;
      background-color: $accent;
    }
  }

  &__checkbox {
    border: 1px solid $default;
    padding: 9px 18px;
  }
}

.shop-content {
  width: 100%;

  &__filter {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $line;
    padding: 20px 30px;
  }

  &__filter-buttons {
    display: flex;
    align-items: center;
  }

  &__filter-btn {
    margin-left: 15px;
    border: none;
    line-height: 0;
    background-color: transparent;
    outline: none;
    cursor: pointer;

    & + & {
      margin-left: 5px;
    }

    &.shop-content__filter-btn--active {
      path {
        fill: $accent;
      }
    }
  }

  &__inner {
    border-bottom: 2px solid #ebebeb;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .product-card {
      margin-bottom: 40px;
    }
  }
}
// === FORM STYLER PLUGIN ===
.jq-selectbox__select {
  height: 32px;
  padding: 0 30px 0 0;
  border: none;
  @extend %quicksand-500;
  color: $default;
  text-shadow: none;
  background: transparent;
  box-shadow: none;

  &:hover {
    background: transparent;
  }
}
.jq-selectbox__trigger {
  border-left: none;
}
.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 10px;
  height: 5px;
  border: none;
  background-image: url('../images/icons/angle_down.svg');
}
// === / FORM STYLER PLUGIN ===
// === / SHOP ===

// === PRODUCT-PAGE ===
.product-page {
  padding: 120px 0 0;
}
.product-single {
  &__inner {
    display: flex;
  }
  &__slide {
    margin-right: 70px;
    width: 730px;
  }
  &__content {
    width: 370px;
  }
  &__title {
    margin-bottom: 20px;
    font-size: 22px;
    @extend %roboto-500;
    color: $title;
  }
  &__box {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  &__price {
    display: flex;
    align-items: center;
  }
  &__price-new {
    font-size: 18px;
    color: $title;
  }
  &__price-old {
    padding-left: 15px;
    font-size: 15px;
    text-decoration: line-through;
  }
  &__stars {
    display: flex;
    align-items: center;

    span {
      padding-left: 8px;
      font-size: 18px;
      color: $title;
    }
  }
  &__text {
    margin-bottom: 25px;

    span {
      @extend %roboto-400;
      display: block;
      font-size: 18px;
      color: $title;
    }
  }
  &__button {
    @extend %btn;
    margin-left: 15px;
    cursor: pointer;
  }
  .jq-number__field {
    width: 114px;
    border: 1px solid #f0f0f0;
    transform: translateY(1px);

    input {
      padding-left: 4px;
      width: 100%;
      height: 50px;
      border: none;
      outline: none;
      @extend %quicksand-500;
      color: $title;
      text-align: center;
    }
  }
  .jq-number {
    position: relative;
    padding: 0;
  }
  .jq-number__spin {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
  .jq-number__spin.minus {
    left: 11px;
  }
  .jq-number__spin.plus {
    right: 12px;
  }
  .jq-number__spin::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 17px;
    height: 1px;
    background-color: $title;
  }
  .jq-number__spin.plus::before {
    content: '';
    position: absolute;
    top: 0;
    left: 8px;
    width: 1px;
    height: 17px;
    background-color: $title;
  }
}
.product-slide {
  // вместо флоатов, можно бы flex заюзать, но c флоатами slick сидит надёжней.
  // display: flex;
  .slick-vertical .slick-slide {
    margin-bottom: 30px;
    height: 140px;
  }
  &__thumbs {
    float: left;
    margin-right: 30px;
    width: 140px;
  }
  &__thumb-item {
    margin-bottom: 30px;
    width: 140px;
    height: 140px;
    cursor: pointer;
  }
  &__thumb-img {
    width: 140px;
    height: 140px;
    object-fit: cover;
  }
  &__large {
    float: left;
    width: 560px;
  }
  &__large-img {
    width: 560px;
    height: 650px;
    object-fit: cover;
  }
}
.product-filter {
  &__color {
    margin-bottom: 20px;

    label {
      margin-right: 10px;
    }
  }
  &__color-title,
  &__size-title {
    margin-bottom: 5px;
    @extend %roboto-400;
    font-size: 18px;
    color: $title;
  }
  &__color-input {
    @extend %hide-radio;

    &:checked {
      & + .product-filter__color-checkbox {
        border-color: $accent;
      }
    }
  }
  &__color-checkbox {
    position: relative;
    display: inline-block;
    border: 1px solid #d6d6d8;
    width: 24px;
    height: 24px;
    cursor: pointer;

    span {
      position: absolute;
      display: inline-block;
      top: 3px;
      left: 3px;
      width: 16px;
      height: 16px;
    }
  }
  &__size {
    margin-bottom: 25px;

    label {
      margin-right: 10px;
      display: inline-block;
    }
  }
  &__size-input {
    @extend %hide-radio;

    &:checked {
      & + .product-filter__size-checkbox {
        border-color: $accent;
      }
    }
  }
  &__size-checkbox {
    display: inline-block;
    border: 1px solid #d6d6d8;
    padding: 4px 12px;
    cursor: pointer;
  }
}
.product-info {
  &__list {
    margin-bottom: 20px;
  }
  &__list-item {
    display: flex;
    margin-bottom: 8px;
  }
  &__title {
    min-width: 100px;
    color: $title;
  }
  &__share-link {
    path {
      fill: $default;
    }
    & + & {
      margin-left: 15px;
    }
    &:hover {
      path {
        fill: $accent;
      }
    }
  }
  &__share-link .instagram {
    path {
      fill: none;
    }
    &:hover {
      path,
      rect,
      line {
        stroke: $accent;
      }
    }
  }
}
.product-tabs {
  padding-top: 110px;

  &__top {
    margin-bottom: 40px;
    border-bottom: 1px solid #f0f0f0;
    @extend %roboto-400;
    font-size: 22px;
  }
  &__top-item {
    margin-bottom: 10px;
    display: inline-block;

    & + & {
      margin-left: 55px;
    }

    &--active {
      position: relative;
      color: $title;

      &::before {
        content: '';
        position: absolute;
        right: 0;
        bottom: -11px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $accent;
      }
    }
  }
  &__content-item {
    display: none;

    &.product-tabs__content-item--active {
      display: block;
    }
  }
}
.comments-title {
  margin-bottom: 25px;
  @extend %roboto-500;
  text-transform: uppercase;
  font-size: 24px;
  color: $title;
}
.comments {
  margin-bottom: 40px;
  display: flex;

  &__avatar {
    margin-right: 30px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
    min-width: 71px;
    height: 71px;
  }
  &__content {
    flex: 1;
  }
  &__content-top {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__content-author {
    display: flex;
  }
  &__content-name {
    margin-right: 13px;
    @extend %roboto-400;
    color: $title;
  }
  &__content-date {
    padding-left: 13px;
  }
  &__content-star {
    margin: 0 0 0 auto;
  }
  &__content-text {
    margin-bottom: 10px;
  }
  &__content-reply {
    padding-left: 26px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 4px;
      left: 0;
      width: 15px;
      height: 13px;
      background-image: url('../images/icons/reply.svg');
    }
  }
}
.comments-form {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 60px;

  &__title {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 10px;
    @extend %roboto-400;
    font-size: 22px;
    color: $title;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50px;
      height: 1px;
      background-color: $accent;
    }
  }
  &__rating {
    margin-bottom: 30px;
  }
  &__rating-title {
    margin-right: 60px;
    color: $title;
  }
  &__label {
    margin-right: 25px;
  }
  &__input {
    @extend %hide-radio;

    &:checked + .comments-form__radio {
      path {
        fill: #ffc35b;
      }
    }
  }
  &__radio {
    path {
      fill: $default;
      transition: $transition-fast;
    }
    cursor: pointer;
  }
  &__box-inputs {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }
  &__text-input {
    border: 1px solid #f0f0f0;
    padding: 0 20px;
    display: inline-block;
    width: 570px;
    height: 50px;
  }
  &__textarea {
    margin-bottom: 40px;
    display: block;
    border: 1px solid #f0f0f0;
    padding: 15px 20px;
    width: 100%;
    height: 225px;
    resize: none;
  }
  &__btn {
    display: block;
    @extend %btn;
  }
}
// === / PRODUCT-PAGE ===

// === RELATED ===
.related {
  padding: 45px 0 120px;

  &__title {
    margin-bottom: 50px;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;

    .product-card__image-box {
      margin-bottom: 20px;
      height: auto;
    }

    .product-card__title {
      margin: 11px 0 3px;
    }
  }
}
// === / RELATED ===

// === BLOG-PAGE ===
.blog-page {
  padding: 120px 0 60px;

  &__item--slider {
    .blog-page__item-box {
      margin-top: -8px;
    }
  }
  &__slider {
    .slick-prev,
    .slick-next {
      z-index: 5;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border: none;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background-color: $accent;
      box-shadow: 0px 7px 20px 0px rgba(254, 62, 87, 0.3);
      cursor: pointer;
      transition: $transition-fast;

      path {
        fill: $white;
        transition: $transition-fast;
      }
    }
    .slick-prev {
      left: 40px;
      svg {
        transform: translateX(-1px);
      }
    }
    .slick-next {
      right: 40px;
      svg {
        transform: translateX(1px);
      }
    }
    .slick-disabled {
      background-color: $white;
      box-shadow: 0px 7px 20px 0px rgba(168, 168, 168, 0.3);
      path {
        fill: $accent;
      }
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    margin-right: 30px;
    width: 770px;
  }
  &__aside {
    width: 370px;
  }
  &__item {
    margin-bottom: 60px;

    &.blog-page__item--no-image {
      border-top: 1px solid #ececec;
    }
  }
  &__item-link,
  &__item-box-link {
    display: block;
  }
  &__img {
    display: block;
    max-width: 770px;
    height: 450px;
    object-fit: cover;
  }
  &__item-box {
    margin-top: -1px;
    border: 1px solid #ececec;
    border-top: none;
    padding: 40px;
  }
  &__item-title {
    margin-bottom: 20px;
    @extend %roboto-500;
    font-size: 22px;
    line-height: 32px;
    color: $title;
    transition: $transition-fast;

    &:hover {
      color: $accent;
    }
  }

  .blog-box {
    justify-content: start;

    &__author {
      margin-right: 30px;
    }
  }
}
.filter-search {
  &__input {
    transition: $transition-fast;
    &:focus {
      background-color: $white;
    }
  }
}
.person {
  margin-bottom: 40px;
  border: 1px solid #ececec;
  padding: 40px 25px;
  text-align: center;
  transition: $transition-regular;

  &:hover {
    @extend %box-shadow;
  }

  &__image {
    margin-bottom: 35px;
    display: inline-block;
    width: 160px;
    height: 160px;
    object-fit: cover;
  }
  &__name {
    @extend %roboto-700;
    font-size: 18px;
    color: $title;
  }
  &__position {
    margin-bottom: 25px;
    color: $accent;
  }
  &__text {
    margin-bottom: 25px;
  }
  &__social-link {
    margin: 0 8px;

    path {
      fill: $default;
      transition: $transition-fast;
    }
    &:hover {
      path {
        fill: $accent;
      }
    }
  }
}
.latest-posts {
  margin-bottom: 40px;
  border: 1px solid #ececec;
  padding: 35px 30px 40px;

  &__title {
    margin-bottom: 35px;
    @extend %roboto-400;
    font-size: 22px;
    color: $title;
    text-transform: uppercase;
  }
  &__item {
    margin-bottom: 20px;
    display: flex;

    &:hover {
      .latest-posts__title-link {
        color: $accent;
      }
      .latest-posts__img {
        transform: scale(1.1);
      }
    }

    & + & {
      border-top: 1px solid #ececec;
      padding-top: 20px;
    }
  }
  &__img-link {
    overflow: hidden;
    margin-right: 20px;
    display: block;
    min-width: 80px;
  }
  &__img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    transition: $transition-slow;
  }
  &__title-link {
    display: block;
    margin-bottom: 4px;
    @extend %roboto-400;
    font-size: 18px;
    color: $title;
    line-height: 23px;
    transition: $transition-fast;
  }
  &__date-link {
    display: block;
  }
  &__date {
    position: relative;
    padding-left: 33px;
    font-size: 15px;

    &::before {
      content: '';
      position: absolute;
      top: 4px;
      left: 1px;
      width: 20px;
      height: 20px;
      background-image: url('../images/icons/clock.svg');
    }
  }
}
.person,
.filter-search,
.blog-page__item,
.filter-category,
.filter-tags,
.latest-posts {
  transition: $transition-regular;

  &:hover {
    @extend %box-shadow;
  }
}
// === / BLOG-PAGE ===

// === BLOG-ONE ===
.blog-one {
  &__text {
    margin-top: -1px;
    border: 1px solid #ececec;
    border-top: none;
    padding: 30px;
    h4 {
      margin: 25px 0;
      @extend %roboto-500;
      font-size: 22px;
      color: $title;
    }
    p {
      margin: 25px 0;
    }
    blockquote {
      padding: 35px;
      border-left: 3px solid $accent;
      background-color: $background;
      @extend %roboto-400;
      font-size: 22px;
      line-height: 32px;
      color: $title;
    }
    .blog-one__img-left {
      float: left;
      margin-right: 30px;
      margin-bottom: 10px;
    }
    .blog-one__img-right {
      float: right;
      margin-left: 30px;
      margin-bottom: 10px;
    }
  }
  &__box {
    margin: 25px 0 35px;
    display: flex;
    justify-content: space-between;
  }
  &__tags,
  &__share {
    span {
      @extend %roboto-500;
      text-transform: uppercase;
      color: $title;
    }
  }
  &__share {
    a {
      margin-right: 12px;
      vertical-align: middle;
      path {
        fill: $default;
        transition: $transition-fast;
      }
      &:hover {
        path {
          fill: $accent;
        }
      }
    }
  }
  &__author {
    margin-bottom: 40px;
    border-bottom: 1px solid $line;
    padding-bottom: 40px;
    display: flex;
  }
  &__author-img {
    width: 140px;
    height: 140px;
    margin-right: 30px;
    object-fit: cover;
  }
  &__author-name {
    margin: 5px 0 24px;
    @extend %roboto-500;
    font-size: 22px;
    color: $title;
  }
  &__info {
    margin-bottom: 25px;
    display: flex;
  }
  &__info-link {
    position: relative;
    margin-right: 30px;
    padding-left: 25px;

    &::before {
      content: '';
      position: absolute;
      top: 1px;
      left: 0;
      width: 16px;
      height: 16px;
      background-image: url('../images/icons/calender.svg');
    }

    &--comments::before {
      background-image: url('../images/icons/comments.svg');
    }
    &--author::before {
      background-image: url('../images/icons/author-blog.svg');
    }
  }
  &__form-title {
    margin: 35px 0 25px;
    @extend %roboto-700;
    font-size: 24px;
    text-transform: uppercase;
    color: $title;
  }
  .comments-form {
    border-bottom: none;
  }
}
// === / BLOG-ONE ===

// === MAP ===
.map {
  margin: 120px 0;
}
#map {
  width: 100%;
  height: 450px;
}
// === / MAP ===

// === CONTACT ===
.contact {
  // .contact__inner
  margin-bottom: 120px;

  &__inner {
    display: flex;
  }

  // .contact__info

  &__info {
    margin-right: 30px;
    max-width: 370px;
  }

  // .contact__info-title

  &__info-title {
    margin-bottom: 20px;
    text-transform: capitalize;
    @extend %roboto-700;
    font-size: 48px;
    line-height: 58px;
    color: $title;
  }

  // .contact__info-text

  &__info-text {
    margin-bottom: 60px;
  }

  // .contact__info-item

  &__info-item {
    position: relative;
    margin-bottom: 55px;
    padding-left: 80px;
    color: $title;

    &::before {
      content: '';
      position: absolute;
      top: -3px;
      left: 0;
      width: 60px;
      height: 60px;
      box-shadow: 0 5px 20px 0 rgba(146, 146, 146, 0.3);
    }

    &::after {
      content: '';
      position: absolute;
      top: 17px;
      left: 20px;
      width: 20px;
      height: 20px;
      background-image: url('../images/icons/phone.svg');
    }

    &--pin::after {
      width: 14px;
      left: 23px;
      background-image: url('../images/icons/pin.svg');
    }
    &--email::after {
      width: 18px;
      left: 21px;
      background-image: url('../images/icons/mail.svg');
    }
  }

  // .contact__info-phone

  &__info-phone {
    display: block;
    color: $title;
  }

  // .contact__info-address

  &__info-address {
    max-width: 245px;
  }

  // .contact__info-email

  &__info-email {
    display: block;
  }

  // .contact__form

  &__form {
    padding: 60px 40px;
    width: 100%;
    box-shadow: 0px 10px 40px 0px rgba(172, 172, 172, 0.3);
  }

  // .contact__form-title

  &__form-title {
    margin-bottom: 20px;
    @extend %roboto-700;
    font-size: 22px;
    color: $title;
  }

  // .contact__form-box

  &__form-box {
    display: flex;
    justify-content: space-between;

    input {
      width: 330px;
    }
  }

  // .contact__form-input

  &__form-input {
    margin-bottom: 30px;
    display: block;
    border: none;
    padding: 0 24px;
    width: 100%;
    height: 60px;
    background-color: $background;
  }

  // .contact__form-textarea

  &__form-textarea {
    display: block;
    border: none;
    padding: 20px 24px;
    width: 100%;
    height: 200px;
    resize: none;
    background-color: $background;
  }

  // .contact__form-btn

  &__form-btn {
    @extend %btn;
  }
}
// === / CONTACT ===

.title {
  & + & {
    margin-bottom: 10px;
  }
}

// === ADAPTIVE ===
@import 'media';
