<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcho</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/index.min.css">
  </head>

  <body>
    <!-- === HEADER === -->
      {% include 'app/module/_header/_header.html' %}
    <!-- === / HEADER === -->

    <main class="main">
      <!-- === TOP-SLIDER === -->
        {% include 'app/module/_top-slider/_top-slider.html' %}
      <!-- === / TOP-SLIDER === -->

      <!-- === INFO-CATEGORIES === -->
        {# {% include 'app/module/_info-categories/_info-categories.html' %} #}
      <!-- === / INFO-CATEGORIES === -->

      <!-- === VIDEO-FASHION === -->
        {# {% include 'app/module/_video-fashion/_video-fashion.html' %} #}
      <!-- === / VIDEO-FASHION === -->

      <!-- === PRODUCTS === -->
        {# {% include 'app/module/_products/_products.html' %} #}
      <!-- === / PRODUCTS === -->

      <!-- === PROMO === -->
        {# {% include 'app/module/_promo/_promo.html' %} #}
      <!-- === / PROMO === -->

      <!-- === PARTNERS === -->
        {# {% include 'app/module/_partners/_partners.html' %} #}
      <!-- === / PARTNERS === -->

      <!-- === BLOG === -->
        {# {% include 'app/module/_blog/_blog.html' %} #}
      <!-- === / BLOG === -->

    </main>
      <!-- === FOOTER === -->
        {% include 'app/module/_footer/_footer.html' %}
      <!-- === / FOOTER === -->

      <!-- === JAVASCRIPT === -->
        <script src="js/main.min.js"></script>
      <!-- === / JAVASCRIPT === -->
  </body>

</html>