<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcho - Product</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/product.min.css">
  </head>

  <body>
    <!-- === HEADER === -->
    {% include 'app/module/_header/_header-product-page.html' %}
    <!-- === / HEADER === -->
    <main class="main">

    {% include 'app/module/_top-banner/_top-banner-product.html' %}

      <!-- === PRODUCT-PAGE === -->
      {% include 'app/module/_product-page/_product-page.html' %}
      <!-- === / PRODUCT-PAGE === -->

      <!-- === RELATED === -->
      {% include 'app/module/_related/_related.html' %}
      <!-- === / RELATED === -->

    </main>
    <!-- === FOOTER === -->
    {% include 'app/module/_footer/_footer.html' %}
    <!-- === / FOOTER === -->

    <!-- === JAVASCRIPT === -->
    <script src="js/main.min.js"></script>
    <!-- === / JAVASCRIPT === -->

  </body>

</html>