// === FOOTER ===
.footer {
  background-color: $background;
}

.footer-top {
  padding: 70px 0 40px;
  border-bottom: 1px solid $line;
  display: flex;

  &__contact {
    margin-right: 50px;
    width: 250px;
  }

  &__logo {
    display: block;
    margin-bottom: 33px;
  }

  &__nav {
    margin-right: 30px;
    width: 170px;
  }

  &__item-form {
    max-width: 470px;

    .footer-top__title {
      pointer-events: none;
    }
  }

  &__address,
  &__email,
  &__phone {
    margin-bottom: 14px;
    display: block;
  }

  &__social-list {
    margin-top: 30px;
    display: flex;
    align-items: center;
  }

  &__social-item + &__social-item {
    margin-left: 18px;
  }

  &__social-link {
    transition: $transition-fast;

    path {
      fill: $default;
    }

    &:hover {
      path {
        fill: $accent;
      }
    }
  }

  &__title {
    margin-bottom: 40px;
    @extend %roboto-500;
    font-size: 22px;
    line-height: 1;
    color: $title;
  }

  &__item-link {
    display: block;
    margin-bottom: 14px;
  }

  &__text {
    margin-bottom: 25px;
  }

  &__form {
    display: flex;
  }

  &__form-input {
    margin-right: 10px;
    border: none;
    padding: 12px 10px 12px 15px;
    max-width: 320px;
    width: 100%;
    background-color: $white;
    box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);

    &::placeholder {
      @extend %roboto-500;
      font-size: 16px;
      color: $default;
    }
  }

  &__form-button {
    @extend %btn;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 75px;
  font-size: 12px;

  &__payments {
    display: flex;
    align-items: center;
  }

  &__payments-icon {
    margin-left: 25px;
    display: inline-block;
  }
}
// === / FOOTER ===

// @ADAPTIVE
@media (max-width: 1050px) {
  .footer-top {
    flex-wrap: wrap;

    &__form {
      margin-top: 30px;
      max-width: 100%;
    }
  }
}

@media (max-width: 860px) {
  .footer-top {
    &__contact {
      margin-right: 0;
      margin-bottom: 30px;
      width: 100%;
    }
  }
}

@media (max-width: 620px) {
  .footer-top {
    &__item {
      margin-top: 20px;
    }
  }
  .footer-bottom {
    justify-content: center;

    &__copyright {
      text-align: center;
      width: 100%;
    }
  }
}

@media (max-width: 450px) {
  .footer-top {
    &__form {
      flex-wrap: wrap;
    }
    &__form-input {
      margin-right: 0;
      max-width: 100%;
    }
    &__form-button {
      width: 100%;
    }
    &__nav {
      position: relative;

      .footer-top__title::after {
        content: '';
        position: absolute;
        top: 10px;
        right: 30px;
        background-image: url('../images/icons/angle_down.svg');
        background-repeat: no-repeat;
        width: 10px;
        height: 5px;
        transition: $transition-fast;
      }
      .footer-top__title.footer-top__title--active::after {
        transform: rotate(180deg);
      }

      .footer-top__list {
        display: none;
      }
    }
    &__title {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 350px) {
  .footer-bottom {
    font-size: 11px;
  }
}
