// === VIDEO-FASHION ===
.video-fashion {
  padding: 120px 0;
  background-image: url('../images/decor/video-fashion-bg.svg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: $background;

  &__inner {
    display: flex;
  }

  &__pop-up {
    margin-right: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 535px;
    width: 100%;
    height: 479px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &__content {
    padding: 70px 0;
    max-width: 570px;
  }

  &__suptitle {
    margin-bottom: 24px;
    font-size: 22px;
    text-transform: uppercase;
    color: $accent;
  }

  &__title {
    margin-bottom: 40px;
    text-align: left;
  }

  &__text {
    margin-bottom: 59px;
  }

  &__link {
    @extend %btn;
    letter-spacing: 3.2px;
  }
}
// === / VIDEO-FASHION ===

// === @ADAPTIVE ===
@media (max-width: 1050px) {
  .video-fashion__inner {
    display: block;
  }
  .video-fashion__pop-up {
    max-width: 100%;
    background-position: center top;
  }
  .video-fashion__content {
    max-width: 100%;
  }
}

@media (max-width: 620px) {
  .video-fashion {
    padding: 60px 0;
  }
  .video-fashion__content {
    padding: 40px 0;
  }
  .video-fashion__suptitle {
    font-size: 18px;
  }
  .video-fashion__title {
    margin-bottom: 30px;
  }
  .video-fashion__pop-up {
    height: 270px;
  }
}
