// === BLOG ===
.blog {
  padding: 50px 0 160px;
  background-image: url('../images/decor/blog-bg-elements.svg');
  background-repeat: no-repeat;
  background-position: center 82%;

  &__items {
    z-index: 5;
    display: flex;
    justify-content: space-between;
    position: relative;

    &::after {
      z-index: -1;
      content: '';
      position: absolute;
      top: -29px;
      right: -22px;
      width: 126px;
      height: 53px;
      background-image: url('../images/decor/blog-bg-dots.svg');
    }
  }

  &__item {
    border: 1px solid $line;
    max-width: 370px;
    transition: $transition-fast;

    &:hover {
      border: 1px solid transparent;
      box-shadow: 20px 0 60px rgba(202, 202, 202, 0.35);

      .blog__more {
        color: $accent;

        path {
          fill: $accent;
        }
      }
    }
  }

  &__image-link {
    display: block;
  }

  &__image {
    width: 100%;
    height: 288px;
    object-fit: cover;
  }

  &__inner {
    padding: 30px 40px;
  }

  &__image-title {
    margin-bottom: 25px;
    @extend %roboto-400;
    font-size: 22px;
    line-height: 32px;
    color: $title;
  }

  &__more {
    margin-top: auto;
    svg {
      margin-bottom: 1px;
    }
  }
}
.blog-box {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  &__author,
  &__date {
    padding-left: 30px;
    position: relative;
    transition: $transition-fast;

    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      top: 4px;
      left: 0;
    }

    &:hover {
      color: $title;
    }
  }
  &__author::before {
    background-image: url('../images/icons/author.svg');
    background-repeat: no-repeat;
  }
  &__date::before {
    background-image: url('../images/icons/clock.svg');
    background-repeat: no-repeat;
  }
}
// === / BLOG ===

// === @ADAPTIVE ===
@media (max-width: 1230px) {
  .blog__items::after {
    right: -11px;
  }
}

@media (max-width: 1200px) {
  .blog__items {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }

  .blog__inner {
    padding: 20px 15px;
  }
}

@media (max-width: 1050px) {
  .blog__items {
    grid-template-columns: repeat(2, 1fr);
  }

  .blog__item {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .blog {
    padding: 60px 0;
  }
  .blog__items {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 375px) {
  .blog__info {
    display: block;
    text-align: left;
  }

  .blog__image {
    max-height: 220px;
  }

  .blog-box__author,
  .blog-box__date {
    display: block;
  }

  .blog-box__author {
    margin-bottom: 10px;
  }
}
