// === MAP ===
.map {
  margin: 120px 0;
}
#map {
  width: 100%;
  height: 450px;
}
// === / MAP ===

// === @ADAPTIVe ===
@media (max-width: 450px) {
  .map {
    margin: 0;
    padding: 60px 0;
  }
  #map {
    height: 250px;
  }
}
