// === PARTNERS ===
.partners {
  padding: 60px 0;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 180px;
  }
}
// === / PARTNERS ===

// === @ADAPTIVE ===
@media (max-width: 620px) {
  .partners__list {
    padding-bottom: 60px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .partners__item {
    margin: 10px 35px;
  }
}

@media (max-width: 500px) {
  .partners__item {
    margin: 10px 25px;
  }
}

@media (max-width: 450px) {
  .partners__list {
    padding-bottom: 60px 0;
  }
  .partners {
    margin-bottom: 55px;
  }
}
